<div 
    x-show="$store.overlay.person.open && $store.overlay.person.active == {{ person.id }}"  
    x-trap="$store.overlay.person.open && $store.overlay.person.active == {{ person.id }}"
    x-cloak="{display: none;}" 
    @keydown.window.escape="$store.overlay.person.close()"
    class="w-full fixed pin flex inset-0 z-40 bg-black bg-opacity-80 transition ease-in-out" 
    x-transition:enter="transition ease-out duration-500" 
    x-transition:enter-start="opacity-0" 
    x-transition:enter-end="opacity-100" 
    x-transition:leave="transition ease-in duration-500" 
    x-transition:leave-start="opacity-100" 
    x-transition:leave-end="opacity-0"
>
    <div 
        class="relative bg-neutral-200 shadow-md w-11/12 m-auto max-h-[90%] max-w-4xl z-50 py-10 px-8 md:px-16 outline outline-1 outline-primary scroller overflow-y-auto"
        x-transition:enter="transition ease-out duration-500" 
        x-transition:enter-start="opacity-0 transform scale-90" 
        x-transition:enter-end="opacity-100 transform scale-100" 
        x-transition:leave="transition ease-in duration-200" 
        x-transition:leave-start="opacity-100 transform scale-100" 
        x-transition:leave-end="opacity-0 transform scale-90"
    >
        <button
            class="absolute right-8 md:right-14 top-10 z-50 w-8 text-black"
            @click="$store.overlay.person.close()"
        >
            {{ source('resources/images/close.svg') }}
        </button>
        <div class="md:flex items-center md:space-x-4">
            {% if image %}
                <img src="{{ Image(image).src|tojpg|resize(400,400) }}" alt="{{ name }}" class="w-32 md:w-20" loading="lazy" />
            {% endif %}
            <div class="mt-6 md:mt-0">
                {% include "typography/h4.twig" with {
                    content: name,
                    as: "h3"
                } %}
                {% include "typography/paragraph.twig" with {
                    content: position,
                    margin: " "
                } %}
                {% if phone or email %}
                    <div class="md:flex items-center mt-1">
                        {% if phone %}
                            {% include "typography/paragraph.twig" with {
                                content: phone,
                                style: "overline",
                                margin: " "
                            } %}
                        {% endif %}
                        {% if phone and email %}<span class="hidden md:block mx-2">/</span>{% endif %}
                        {% if email %}
                            {% include "typography/paragraph.twig" with {
                                content: email,
                                style: "overline",
                                margin: " "
                            } %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% if bio %}
            <div class="prose max-w-none mt-10">
                {{ bio }}
            </div>
        {% endif %}
    </div>
</div>  