<div class="featured-product">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-lg-6">
				<div class="featured-product__img">
					<img src="{{ component.image }}">
				</div>
			</div>
			<div class="col-md-7 col-lg-6 pos-center--vert">
				<div>
					<h5 class="featured-product__subheader">{{ component.subheader }}</h5>
					<h2 class="featured-product__header">{{ component.header }}</h2>
					<p class="featured-product__description">{{ component.description }}</p>
					<a href="{{ component.button_url }}" class="button button--primary button--salmon">{{ component.button_text }}</a>
				</div>
			</div>
		</div>
	</div>
</div>
