{% extends "layouts/layout_primary.twig" %}

{% block content %}
    
    <main class="fluid-container pb-24">

        {% include "components/intro.twig" with {
            overline: overline,
            title: title,
        }%}
        
        {% if posts|length > 0 %}

            {% if not is_search %}
            <ul class="flex justify-center lg:justify-start flex-wrap text-sm mb-8 gap-1">
                <li class="block px-4 py-1 rounded-xl transition-all {{ is_home ? 'bg-secondary text-white hover:text-white' : 'hover:text-secondary' }}"><a href="{{ blog_link }}">All</a></li>
                {% for cat in blog_categories %}
                <li class="block px-4 py-1 rounded-xl transition-all {{ cat.slug == slug ? 'bg-secondary text-white' : 'hover:text-secondary' }}"><a href="{{ cat.link }}" class="">{{ cat.name }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}

            <div class="grid gap-10 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

                {% for post in posts %}
                    {% if post.post_type == 'page' %}
                        {% set text = post.get_field('hero').text %}
                        {% set image = post.get_field('hero').background.image ? post.get_field('hero').background.image : globals.fallback_image  %}
                    {% else %}
                        {% set text = post.preview.length(20).read_more(false) %}
                        {% set image = post.thumbnail ? post.thumbnail : globals.fallback_image %}
                    {% endif %}
                    {% include 'components/cards/card.twig' with {
                        image: image,
                        overline: is_search ? '' : post.date,
                        heading: post.title,
                        text: text,
                        link: post.link,
                    }%}
                {% endfor %}

            </div>

            {% if pagination.pages > 1 %}
                <div class="mt-12 flex justify-center gap-8">
                    {% if pagination.prev %}
                    <a href="{{ pagination.prev.link }}" class="group flex items-center font-bold">
                        <span class="mr-2 w-3 transition rotate-180 group-hover:-translate-x-2 group-hover:text-secondary">{{ source("resources/images/arrow.svg") }}</span>
                        <span>Previous</span>
                    </a>
                    {% endif %}
                    {% if pagination.next %}
                    <a href="{{ pagination.next.link }}" class="group flex items-center font-bold">
                        <span>Next</span>
                        <span class="ml-2 w-3 transition group-hover:translate-x-2 group-hover:text-secondary">{{ source("resources/images/arrow.svg") }}</span>
                    </a>
                    {% endif %}
                </div>
            {% endif %}

        {% else %}
            <p class="text-2xl">Sorry, no results found.</p>
        {% endif %}


    </main>

{% endblock %}
