<head>
    <title>
         {% if wp_title %}
            {{ wp_title }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>
    <meta charset="{{ site.charset }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

    <link rel="pingback" href="{{ site.pingback_url }}" />

    {{ function("wp_head") }}
</head>
