{% if not no_magnetic %}
    <div
        x-data="magnetic()"
        x-ref="element"
        @mousemove="magnetize($event, $el, $refs.element)"
        @mouseleave="demagnetize($refs.element)"
        class="relative inline-flex hover:z-10"
    >
{% endif %}

<{{ as ? as : "a" }}
    {{ attribute }}
    class="
        inline-flex items-center justify-center
        leading-none select-none whitespace-no-wrap cursor-pointer
        transition group
        {% if style == 'arrow' %}
            {{ color ? color : 'text-current' }} font-bold
        {% elseif style == 'line' %}
            {{ color ? color : 'text-current' }} 
            {{ lineHover ? lineHover : 'hover:border-secondary' }}
            font-bold border-b-2 border-current pb-1
        {% elseif style == 'outline' %}
            rounded-3xl font-bold border
            {{ color ? color : 'text-current' }}
            {{ borderColor ? borderColor : 'border-primary-400' }}
            {{ size == 'small' ? 'px-4 py-3 text-sm' : 'px-10 py-4'}}
            {{ hoverColor ? hoverColor :'hover:border-primary-600 hover:text-primary-600' }}
        {% else %}
            rounded-3xl font-bold 
            {{ color ? color : 'text-primary-600' }}
            {{ buttonBg ? buttonBg : 'bg-primary-400' }} 
            {{ hoverColor ? hoverColor :'hover:bg-primary hover:text-white' }}
            {{ size == 'small' ? 'px-4 py-3 text-sm' : 'px-10 py-4'}}
        {% endif %}
        {{ class }}
    "

    {% if not faux %}
        {% include "components/button_attributes.twig" %}
    {% endif %}
>

    {{ label }}
    {% if style == 'arrow' or new_window %}
        <span class="ml-2 w-3 transition group-hover:translate-x-2">{{ source("resources/images/arrow.svg") }}</span>
    {% endif %}

</{{ as ? as : "a" }}>

{% if not no_magnetic %}
    </div>
{% endif %}
