<form
    role="search"
    method="get"
    action="{{ site.url }}"
    class="flex p-1 justify-start w-full"
>
    <label for="search" class="sr-only">Search</label>
    <input 
        name="s" required 
        class="search-box outline-0 p-2 flex-grow rounded-l {{ focus ? focus : 'focus:ring-secondary focus:ring-2' }} {{ placeholder ? placeholder : 'placeholder:text-neutral-400' }} {{ background }}" 
        value="{{ query }}" 
        placeholder="Enter search term" />
    <button type="submit" class="p-4 outline-0 bg-primary-400 rounded-r {{ focus ? focus : 'focus:ring-secondary focus:ring-2' }}">
        <div class="w-4">{{ source('resources/images/search.svg') }}</div>
    </button>
</form>