<div
    {{ attribute }}
    class="absolute inset-0 w-full h-full {{ class }}"
>
    {# :: Video
    {+} ---------------------------------- #}
    {% if asset_type == 'video' %}
        <video
            class="absolute inset-0 w-full h-full object-cover"
            autoplay
            muted
            loop
            poster="{{ poster }}">

            <source src="{{ mp4 }}" type="video/mp4" />
            {% if webm %}
                <source src="{{ webm }}" type="video/webm" />
            {% endif %}
        </video>

    {# :: Image
    {+} ---------------------------------- #}
    {% else %}
        {% include "components/image.twig" with {
            image: Image(image).src,
            alt: Image(image).alt,
        } %}
    {% endif %}
</div>
