
<div class="relative overflow-hidden transition-all {{ cardClass }}">

    {% if image or mp4 %}
        <{{ link ? 'a href="' ~ link ~ '"' : 'div' }} class="block w-full mb-6 {{ size == 'tall' ? 'h-60 md:h-80 lg:h-96' : 'h-48 md:h-56' }}">
        <div class="block relative overflow-hidden relative w-full h-full">
            {% include "components/background.twig" with {
                asset_type: asset_type,
                image: image,
                mp4: mp4,
                webm: webm,
                poster:poster,
                objectFit: objectFit,
                size: "small",
                class: 'transition-all hover:scale-110 duration-200'
            } %}
        </div> 
    {{ link ? '</a>' : '</div>' }}
    {% endif %}
    <div class="relative">
        {% if overline %}
            {% include "typography/paragraph.twig" with {
                content: overline,
                style: "overline",
                margins: "mb-2"
            }%}
        {% endif %}
        {% if link %}<a href="{{ link }}" class="hover:text-brand-red">{% endif %}
        {% if heading %}
            {% include 'typography/h4.twig' with {
                content: heading,
                as: "p",
                class: link ? "transition hover:text-secondary mb-4" : "mb-4"
            } %}
        {% endif %}
        {% if link %}</a>{% endif %}
        {% if text %}
            {% include 'typography/paragraph.twig' with {
                content: text,
                size: "sm"
            }%}
        {% endif %}
    </div>

</div>